*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.first{
    width: 100%;
    height: 20vh;
    background: white;
    display: grid;
    grid-template-columns: 20% 45% 25%;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 10;
}

.first .logo{
    /* border: 1px solid rgb(126, 12, 97);r */
    display: grid;
}

.logo img{
    width: 70%;
    height: 100%;
}


.first ul{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 20% 20% 24% 18% 18%;
}

.first ul li{
    /* border: 1px solid green; */
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
    text-transform: capitalize;
}

ul li a{
    text-decoration: none;
    /* border: 1px solid green; */
    color: black;
    position: relative;
    overflow: hidden;
}

ul li a::after{
     content: '';
     width: 100%;
     height: 50%;
     background-image: url(underline@2x.png);
     background-size: 100% 100%;
     position: absolute;
     top: 50%;
     left: -100%;
     z-index: -1;
     transition: 1s;
}

ul li a:hover::after{
    left: 0;
    transition: 1s;
}
 

.first .btn{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.btn h1{
    /* border: 1px solid green; */
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 1.1rem;
}

.btn h1 a{
    text-decoration: none;
    color: black;
}

.btn button{
    background: #00B8A1;
    width: 70%;
    height: 40%;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: none;
}

button a{
    text-decoration: none;
    color: white;
}

.btn img{
    position: absolute;
    z-index: -1;
    width: 35%;
    height: 40%;
    top: 40%;
    left: 49%;
}







.had{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 17% 25% 40%;
    text-align: center;
    align-content: center;
}

.had h1{
    font-size: 2.5rem;
}

.had p{
    font-size: 1.3rem;
}

.had .tag{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

.had .tag #sel{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.1rem;
    box-shadow:  6px 6px 0 #A2FDE9;
}

.had .tag .icn-img{
    position: relative;
}

.had .tag .icn-img img{
    position: absolute;
    height: 40%;
    right: 0;

}

    




.second{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows:90%;
    justify-content: space-evenly;
}

.second .box{
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 35% 6% 8% 15% 30%;
    align-content: space-evenly;
}
.second .box:hover{
    transform: scale(1.1); transition: 2s;
}

.second .box .p1{
    position: relative;
    left: 3%;
}

.second .box .p1 img{
    position: absolute;
    width: 95%;
    height: 98%;
}

.second .box h5{
    letter-spacing: 2px;
    position: relative;
    left: 4%;
}

.second .box h4{
    font-size: 1.1rem;
    position: relative;
    left: 4%;
}

.second .box h3{
    font-size: 1.7rem;
    line-height: 2.3rem;
    position: relative;
    left: 4%;
}

.second .box p{
    font-size: .9rem;
    line-height: 2rem;
    position: relative;
    left: 4%;
}

.second .box2{
    display: grid;
    grid-template-rows: 35% 7% 8% 20% 25%;
}

.second .box3{
    display: grid;
    grid-template-rows: 35% 7% 8% 20% 25%;
}







.eight{
    width: 100%;
    height: 190vh;
    position: relative;
}

.eight .pic{
    width: 95%;
    height: 70vh;
    position: relative;
    top: 10vh;
}

.eight .pic .hero{
    width: 450px;
    height: 450px;
    position: absolute;
}

.eight .pic .line{
    width: 270px;
    height: 50px;
    position: absolute;
    top: 40vh;
    left: 6%;
    overflow: hidden;
}

.eight .pic .line .line-1{
    height: 100%;
    position: absolute;
    left: 100%;
    animation: lin 6s linear infinite;
}

.eight .pic .line .im1{
    animation-delay: 3s;
}


@keyframes lin{
    0%{
       transform: translate(0%);
    }
    100%{
        transform: translate(-200%);
    }
}

.eight .pic .dots{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 21%;
    top: 15vh;
}

.eight .pic .dots .dot{
    color: rgb(252, 182, 205);
    font-size: 5rem;
    top: -70%;
}

.eight .pic .dots .dot2{
    position: absolute;
    top: -50%;
    color: rgb(179, 247, 247);
}

.eight .pic .dots .dot3{
    position: absolute;
    top: -50%;
    left: 20%;
    color: rgb(252, 182, 205);
}

.eight .pic .dots .dot4{
    position: absolute;
    top: -30%;
    color: rgb(212, 175, 247);
}

.eight .pic .dots .dot5{
    position: absolute;
    top: -30%;
    left: 20%;
    color: rgb(179, 247, 247);
}

.eight .pic .dots .dot6{
    position: absolute;
    top: -30%;
    left: 40%;
    color: rgb(252, 182, 205);
}

.eight .pic .dots .dot7{
    position: absolute;
    top: -10%;
    color: rgb(179, 247, 247);
}

.eight .pic .dots .dot8{
    position: absolute;
    top: -10%;
    left: 20%;
    color: rgb(208, 126, 247);
}

.eight .pic .dots .dot9{
    position: absolute;
    top: -10%;
    left: 40%;
    color: rgb(0, 255, 170);
}

.eight .pic .dots .dot10{
    position: absolute;
    top: -10%;
    left: 60%;
    border-radius: 50%;
    color: rgb(179, 247, 247);
}


.eight .pic .dots1{
    width: 80px;
    height: 80px;
    position: absolute;
    transform: rotate(270deg);
    left: 0%;
    top: 4vh;
}

.eight .pic .talk1{
    position: absolute;
    width: 20%;
    height: 13%;
    top: 3%;
    left: 22%;
    z-index: -1;
    animation: up1 3s linear infinite;
}

@keyframes up1{
    0%{
        top: 3%;
    }
    50%{
        top: 6%;
    }
    100%{
        top: 3%;
    }
}

.eight .pic .talk2{
    position: absolute;
    width: 20%;
    height: 13%;
    top: 35%;
    left: 40%;
    z-index: -1;
    animation: up2 2.9s linear infinite;
}

@keyframes up2{
    0%{
        top: 35%;
    }
    50%{
        top: 40%;
    }
    100%{
        top: 35%;
    }
}

.eight .pic .talk3{
    position: absolute;
    width: 20%;
    height: 13%;
    top: 90%;
    left: 0%;
    animation: up3 2.5s linear infinite;
}

@keyframes up3{
    0%{
        top: 90%;
    }
    50%{
        top: 93%;
    }
    100%{
        top: 90%;
    }
}

.eight .pic .hori{
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
    background: aqua;
    position: relative;
    top: 43%;
    left: 5%;
    overflow: hidden;
}

.eight .pic .hori .lin{
    width: 100%;
    position: absolute;
    top: 48%;
   
}

.eight .pic .hori .srch{
    width: 50%;
    height: 120%;
    position: absolute;
    top: -4%;
    z-index: 1;
}

.eight .pic .hori .spot{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    animation: spot 1.7s linear infinite;
}

@keyframes spot{
    0%{
        left: 0%;
    }
    100%{
        left: 50%;
    }
}




.eight .form{
    width: 95%;
    height: 110vh;
    position: relative;
    background: #E7FEF8;
    top: 0;
    left: 3%;
    z-index: -1;
    display: grid;
    grid-template-rows: 30% 50% 10%;
    align-content: center;
    justify-items: center;
}

.eight .form .head{
    display: grid;
    grid-template-rows: 30% 60%;
}

.eight .form .head h1{
    text-align: center;
    font-size: 1.7rem;
}

.eight .form .head p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

.eight .form .table{
    width: 70%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}

.eight .form .table .left{
    display: grid;
    grid-template-rows: 22% 22% 22% 22%;
}

.eight .form .table .left input{
    width: 90%;
    height: 63%;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #000;
    color: black;
    padding: 2px 16px;
    box-shadow: 6px 6px 0 #A2FDE9;
}

.eight .form .table .left h1{
    font-size: 2rem;
}

.eight .form .table .right{
    display: grid;
    grid-template-rows: 22% 22% 22% 22%;
}

.eight .form .table .right input{
    width: 90%;
    height: 63%;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #000;
    color: black;
    padding: 2px 16px;
    box-shadow: 6px 6px 0 #A2FDE9;
}



.eight .form .footer{
    width: 20%;
    position: relative;
}

.eight .form .footer .btn4{
    width: 100%;
    height: 86%;
    border-radius: 10px;
    border-style: none;
    background: #00B8A1;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    position: absolute;
}

.eight .form .footer .btn4:hover{
    background: black;
    color: #00B8A1;
}

.eight .form .footer .under-line{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 15%;
    left: 20%;
}


.eight .side{
    width: 16%;
    height: 65vh;
    position: absolute;
    top: 62%;
    right: 0;
}

.eight .side .frame{
    height: 100%;
    position: absolute;
}

.eight .side .upper{
    height: 37%;
    position: absolute;
    top: 33%;
    left: 9%;
}

.eight .side .float1{
    height: 9%;
    position: absolute;
    top: 0;
    left: 51%;
    animation: flo 3s linear infinite;
}

@keyframes flo{
    0%{
        top: -1%;
    }
    50%{
        top: 2%;
    }
    100%{
        top: -1%;
    }
}

.eight .side .float2{
    height: 13%;
    position: absolute;
    top: 6%;
    left: 65%;
    animation: flo1 2.5s linear infinite;
}

@keyframes flo1{
    0%{
        top: 6%;
    }
    50%{
        top: 9%;
    }
    100%{
        top: 6%;
    }
}

.eight .side .float3{
    height: 10%;
    position: absolute;
    top: 11%;
    left: 8%;
    animation: flo2 2.3s linear infinite;
}

@keyframes flo2{
    0%{
        top: 11%;
    }
    50%{
        top: 13%;
    }
    100%{
        top: 10%;
    }
}


  




.ninth{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 50%;
    align-content: center;
    justify-items: center;
}

.ninth .head{
    width: 99%;
    display: grid;
    grid-template-columns: 30% 40%;
}

.ninth .head .logo{
    position: relative;
    left: 30%;
}

.ninth .head .logo .seal{
    width: 40%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.ninth .head .text{
    display: grid;
    grid-template-rows: 30% 30% 40%;
    position: relative;
    /* justify-items: center; */
}

.ninth .head .text .logo{
    height: 11%;
}

.ninth .head .text p{
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

.ninth .head .text .social{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: center;
    align-items: center;
}

.ninth .head .text .social i{
    padding: 16px 20px;
    width: 14%;
    height: 17%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 0pc #A2FDE9;
    color: #00C8AF;
    font-size: 1.1rem;
}

.ninth .head .text .social i:hover{
    background: black;
    color: #A2FDE9;
    transition: 1s;
}



.ninth .footer{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 90%;
}

.ninth .footer .box{
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15%;
    align-content: space-between;
}

.ninth .footer .box h1{
    font-size: 1.1rem;
}

.ninth .footer .box h2{
    font-size: .9rem;
}






.designer{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 40% 25%;
    justify-content: space-between;
}

.designer p{
    position: relative;
    left: 10%;
}

.designer h5{
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.designer span{
    font-size: 1.1rem;
}

.designer span:hover{
    color: #00B8A1;
}

















































