*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first{
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 4;
}

.first .navbar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 43% 20%;
    justify-content: space-around;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0255,255,255,0.9)), url(logo.png);
    background-size: 110% 100%;  
}

.navbar .logo{
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo img{
    width: 80%;
    height: 40%;
}




.first .navbar .nav{
    /* border: 3px solid red; */
}

.navbar .nav ul{
    /* border: 2px solid green; */
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 14% 14% 18% 14% 20%;
    grid-template-rows: 35%;
}

.navbar .nav ul li{
    /* border: 1px solid goldenrod; */
    border-style: none;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius:  20px;
}

.nav ul li:hover{
    background: #7F4DFF;
    transition: all .5s;
}

.nav ul .a1a{
    background: #7F4DFF;
}
.nav ul li  .a1{
    color: white;
    background: #7F4DFF;
}

.nav ul li a{
    color: black;
    text-decoration: none;
}

.nav ul li:hover a{
    color: white;
    transition: all .5s;
}


.navbar .social{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 40%;
    align-content: center;
    justify-content: space-evenly;
}

.navbar .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navbar .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}




.second{
    height: 350vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.second .text{
    position: relative;
}

.text img{
    position: absolute;
    top: 20%;
    width: 25%;
    height: 35%;

}

.text .patern{
    position: absolute;
    top: 35%;
    right: 0;
    width: 30%;
    height: 40%;

}


.text h4{
    position: absolute;
    top: 20%;
    left: 45%;
    color: grey;
}

.text .s-ball{
    width: 50px;
    height: 50px;
    position: absolute;
    background: #FFFA77;
    border-radius: 50%;
    left: 64%;
    top: 18%;
}

.text .l-ball{
    width: 140px;
    height: 140px;
    position: absolute;
    background: #A5FFD6;
    border-radius: 50%;
    left: 27%;
    top: 21%;
}

.text h1{
    font-size: 4.3rem;
    position: absolute;
    color: #333333;
    top: 27%;
    left: 24%;
    font-weight: bolder;
}

.text p{
    position: absolute;
    font-size: 1.1rem;
    color: gray;
    text-align: center;
    top: 56%;
    left: 28%;
}



.second .pic{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 20% 20% 20% 20%;
   justify-content: space-evenly;
}

.second .pic .box{
    position: relative;
    display: grid;
    grid-template-rows: 70% 13% 10%;
    align-content: space-evenly;
    overflow: hidden;
}

.pic .box .photo{
    overflow: hidden;
}


.pic .box .photo img{
    height: 100%;
    width: 100%;
   
}

.pic .box .photo:hover img{
    transform: rotate(5deg) scale(1.2);
    transition: all .5s;
}

.pic .box .photo .divr{
    width: 100%;
    height: 70%;
    background: black;
    position: absolute;
    top: 2%;
    left: 0;
    opacity: 0;
}

.pic .box .photo .divr:hover{
    opacity: 0.5;
}

.pic .box h1{
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    align-items: end;
}

.pic .box:hover h1{
    color: red;
    cursor: pointer;
}


.pic .box h2{
   color: gray;
   font-size: 1rem;
   text-align: center;
}














.third{
    height: 50vh;
    display: grid;
    grid-template-rows: 20% 10% 18%;
    grid-template-columns: 30%;
    justify-content: center;
    align-content: center;
}

.third .logo{
    display: grid;
    justify-items: center;
    align-content: center;
}

.third .logo img{
    height: 70%;
    width: 50%;
}

.third .last{
    display: grid;
    justify-items: center;
}



.third .social{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px;
    align-content: center;
    justify-content: space-evenly;
}

.third .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.third .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}
















