*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first{
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 4;
}

.first .navbar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 18% 20% 35%;
    justify-content: space-around;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0255,255,255,0.9)), url(logo.png);
    background-size: 110% 100%;  
}



.navbar .social{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 40%;
    align-content: center;
    justify-content: space-evenly;
}

.navbar .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navbar .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}




.navbar .logo{
    position: relative;
    left: 40%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo img{
    width: 80%;
    height: 40%;
}




.first .navbar .nav{
    /* border: 3px solid red; */
    position: relative;
    left: 5%;
}

.navbar .nav ul{
    height: 100%;
    list-style: none;
    text-transform:  uppercase;
    display: grid;
    grid-template-columns: 15% 15% 20% 15% 25%;
    justify-content: space-evenly;
    align-content: center;
}

.nav ul li .a1{
    color: #FF3271;
}

.nav ul li a{
   color: black;
   text-decoration: none;
  
}

.nav ul li a:hover{
    color: #FF3271;
}




.second{
    height: 290vh;
    display: grid;
    grid-template-rows: 30% 70%;
}

.second .text{
    position: relative;
}

.text h4{
    position: absolute;
    top: 20%;
    left: 45%;
    color: grey;
}

.text .s-ball{
    width: 50px;
    height: 50px;
    position: absolute;
    background: #A5FFD6;
    border-radius: 50%;
    left: 64%;
    top: 20%;
}

.text .l-ball{
    width: 140px;
    height: 140px;
    position: absolute;
    background: #FFE991;
    border-radius: 50%;
    left: 27%;
    top: 21%;
}

.text h1{
    font-size: 4rem;
    position: absolute;
    color: #333333;
    top: 27%;
    left: 30%;
    font-weight: bolder;
}

.text h1 span{
    color: #FFC1FB;
}

.text p{
    position: absolute;
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    top: 45%;
    left: 30%;
}

.text button{
    position: absolute;
    top: 65%;
    left: 46%;
    width: 15%;
    height: 9vh;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    font-size: 1.1rem;
    border-radius: 30px;
    border-style: none;
    background:linear-gradient(to top left,#FA8EF8,#D08CFE);

}

.text button:hover{
    background:linear-gradient(to top left,#D08CFE, #FA8EF8);
}



.second .pic{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}


.second .pic img{
    width: 100%;
    height: 100%;
}


.second .pic .box{
    position: relative;
}

.second .pic .box .flip{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: transparent;
}   

.second .pic .flip .cover{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: transparent;
    transform-style: preserve-3d;
    transition: all .5s;
}

.pic .flip .cover .front{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    /* backface-visibility: hidden; */
}

.pic .flip .cover .back{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0255,255,255,0.9);
    backface-visibility: hidden;
    transform: rotatey(180deg);
}

.flip .cover .back .ball{
    position: absolute;
    top: 33%;
    left: 18%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFE991;
}

.flip .cover .back h3{
    position: absolute;
    top: 38%;
    left: 10%;
    color: black;
    font-weight: bolder;
    font-size: 22px;
}


.flip .cover .back h4{
    position: absolute;
    top: 56%;
    left: 33%;
    color: black;
    
}

.second .pic .flip:hover .cover{
    transform: rotatey(180deg);
}


.second .pic .box-7{
    display: grid;
    grid-area: 2/3/4/5;
}

.box-7 .flip .cover .back .ball{
    position: absolute;
    top: 42%;
    left: 34%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFE991;
}

.box-7 .flip .cover .back h3{
    position: absolute;
    top: 45%;
    left: 30%;
    color: black;
    font-weight: bolder;
    font-size: 22px;
}

/* 
.box-7 .flip .cover .back h4{
    position: absolute;
    top: 56%;
    left: 43%;
    color: gray;  
} */



.second .pic .box-10{
    display: grid;
    grid-area: 4/1/625;
}

.box-10 .flip .cover .back .ball{
    position: absolute;
    top: 37%;
    left: 17%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFE991;
}

.box-10 .flip .cover .back h3{
    position: absolute;
    top: 40%;
    left: 10%;
    color: black;
    font-weight: bolder;
    font-size: 22px;
}

/* 
.box-10 .flip .cover .back h4{
    position: absolute;
    top: 50%;
    left: 34%;
    color: gray;
    
} */


.second .pic .box-15{
    display: grid;
    grid-area: 5/3/6/5;
}

.box-15 .flip .cover .back .ball{
    position: absolute;
    top: 33%;
    left: 34%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFE991;
}

.box-15 .flip .cover .back h3{
    position: absolute;
    top: 38%;
    left: 30%;
    color: black;
    font-weight: bolder;
    font-size: 22px;
}

/* 
.box-15 .flip .cover .back h4{
    position: absolute;
    top: 56%;
    left: 43%;
    color: gray;
    
} */




.third{
    height: 50vh;
    background: #F4F9FF;
    display: grid;
    grid-template-rows: 20% 10% 18%;
    grid-template-columns: 30%;
    justify-content: center;
    align-content: center;
}

.third .logo{
    display: grid;
    justify-items: center;
    align-content: center;
}

.third .logo img{
    height: 70%;
    width: 50%;
}

.third .last{
    display: grid;
    justify-items: center;
}



.third .social{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px;
    align-content: center;
    justify-content: space-evenly;
}

.third .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.third .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}


