 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first{
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 4;
}

.first .navbar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 43% 20%;
    justify-content: space-around;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0255,255,255,0.9)), url(logo.png);
    background-size: 110% 100%;  
}

.navbar .logo{
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo img{
    width: 80%;
    height: 40%;
}




.first .navbar .nav{
    /* border: 3px solid red; */
}

.navbar .nav ul{
    /* border: 2px solid green; */
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 14% 14% 18% 14% 20%;
    grid-template-rows: 35%;
}

.navbar .nav ul li{
    /* border: 1px solid goldenrod; */
    border-style: none;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius:  20px;
}

.nav ul li:hover{
    background: #7F4DFF;
    transition: all .5s;
}

.nav ul .a1a{
    background: #7F4DFF;
}
.nav ul li  .a1{
    color: white;
    background: #7F4DFF;
}

.nav ul li a{
    color: black;
    text-decoration: none;
}

.nav ul li:hover a{
    color: white;
    transition: all .5s;
}

/* 
.home{
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

.home>.ul1{
    position: absolute;
    list-style: none;
    background: white;
    border: 2px solid red;
    width:150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    top:200px;
    visibility: hidden;

}
.home:hover .ul1{
    opacity:1;
    top:100px;
    visibility: visible;
    transition-duration: 1s;
}

.home>.ul1 >li{
    padding:10px 50px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;

}


.navbar .nav{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 24%;
    justify-content: center;
    align-items: center;
}

.nav .a1{
    background: #7F4DFF;
    color: white;
}

.nav a{
    height: 30%;
    width: 90%;
    color: black;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.nav a:hover{
    background: #7F4DFF;
    color: white;
    transition: .5s;
}
 */


.navbar .social{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 40%;
    align-content: center;
    justify-content: space-evenly;
}

.navbar .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navbar .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}




.second{
    height: 200vh;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

img{
    width: 100%;
     height: 100%;
}

.box1{
    position: relative;
    grid-area: 1/1/3/3;
    overflow: hidden;
}

.box1 h1{
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    top: 60%;
    left: 10%;
}

.box1 h1:hover{
    color: #FF3271;
}

.box1 button{
    position: absolute;
    background: #FF3271;
    width: 25%;
    height: 8vh;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 30px;
    top: 75%;
    left: 10%;
}

.box1 button:hover{
    background: transparent;
    border: 1px solid #FF3271;
    color: white;
}

.pic:hover img {
    transition: 1s;
    transform: rotate(10deg) scale(1.2);
}

.second .box2{
    overflow: hidden;
    position: relative;
}

 .left{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 23%;
    left: -100%;
    transition-duration: .5s;
    background: #FF3271;
    opacity: 0.8;
}

.box2:hover .left{
    left: 0;
    transition: .5s;
}

.right{
    position: absolute;
    top: 40%;
    width: 50%;
    height: 23%;
    transition-duration: .5s;
    right: -100%;
    background: black;
    opacity: 0.8;
}



.fa{     
    padding:13px;
    background: white;
    color: #FF3271;
    position: absolute;
    right: 51%;
    bottom: 10%;
    font-size: 1.9rem;
    transition-duration: .5s;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
}
.box2:hover .fa{
    transition-duration: .5s;
    bottom: 38%;
    opacity: 1;
}

 .fa:hover{
    background: black;
    color: white;
}

.f1{     
    position: absolute;
    right: 32%;
    bottom: 10%;
}


 .f1:hover{
    background: black;
    color: white;
}

.box2:hover .right{
    right: 0;
    transition: .5s;
}



.second .box3{
    overflow: hidden;
    position: relative;
}

.second .box3 a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 4rem;
    top: 33%;
    left: 10%;
}



.second .box4{
    overflow: hidden;
    position: relative;
}

.box4:hover .left{
    left: 0;
    transition: .5s;
}

.box4:hover .right{
    right: 0;
    transition: .5s;
}

.box4:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}



.second .box5{
    overflow: hidden;
    position: relative;
}



.box5:hover .left{
    left: 0;
    transition: .5s;
}

.box5:hover .right{
    right: 0;
    transition: .5s;
}

.box5:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}



.second .box6{
    overflow: hidden;
    position: relative;
}

.box6:hover .left{
    left: 0;
    transition: .5s;
}

.box6:hover .right{
    right: 0;
    transition: .5s;
}

.box6:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}


.second .box7{
    overflow: hidden;
    position: relative;
    display: flex;
    text-align: center;
    
}

.second .box7 h1{
    position: absolute;
    top: 30px;
    left: 20%;
    color: white;
}

.second .box7 p{
    position: absolute;
    top: 90px;
    color: white;
}


.second .box8{
    grid-area: 3/3/4/5;
    overflow: hidden;
    position: relative;
}

.fu{
    position: absolute;
    right:40%;
}

.box8:hover .left{
    left: 0;
    transition: .5s;
}

.box8:hover .right{
    right: 0;
    transition: .5s;
}



.box8:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}


.second .box9{
    grid-area: 4/1/5/3;
    overflow: hidden;
    position: relative;
}


.box9:hover .left{
    left: 0;
    transition: .5s;
}

.box9:hover .right{
    right: 0;
    transition: .5s;
}


.box9:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}



.second .box10{
    overflow: hidden;
    position: relative;
}

.box10:hover .left{
    left: 0;
    transition: .5s;
}

.box10:hover .right{
    right: 0;
    transition: .5s;
}

.box10:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}



.second .box11{
    overflow: hidden;
    position: relative;
}

.second .box11 h1{
    position: absolute;
    top: 43%;
    left: 10%;
    color: white;
    font-size: 50px;
}


.second .box12{
    overflow: hidden;
    position: relative;
}


.box12:hover .left{
    left: 0;
    transition: .5s;
}

.box12:hover .right{
    right: 0;
    transition: .5s;
}


.box12:hover .fa{
    transition-duration: .8s;
    bottom: 38%;
    opacity: 1;
}



.second .box13{
    overflow: hidden;
    position: relative;
}

.box13 h1{
    position: absolute;
    top: 50%;
    left: 13%;
    font-size: 3.8rem;
    color: white;
    font-weight: bold;
}

.box13 i{
    position: absolute;
    color: white;
    top:35%;
    left: 40%;
    padding: 15px;
    font-size: 30px;
    border-radius: 50%;
    z-index: 2;
    background: black;
    color: purple;
}


.second .box14{
    grid-area: 5/3/6/5;
    overflow: hidden;
    position: relative;
}


.second .box14 .note{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80%;
    height: 85%;
    background: rgba(255,255,255,0.8);
}

.box14 .note >.fas{
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 30px;
    
}

.box14 .note p{
    position: relative;
    top: 30%;
    left: 9%;
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
}


.box14 .note h3{
    position: relative;
    top: 30%;
    left: 70%;
    font-size: 1.3rem;
    font-weight: lighter;
    color: gray;
}





.third{
    height: 50vh;
    display: grid;
    grid-template-rows: 20% 10% 18%;
    grid-template-columns: 30%;
    justify-content: center;
    align-content: center;
}

.third .logo{
    display: grid;
    justify-items: center;
    align-content: center;
}

.third .logo img{
    height: 70%;
    width: 50%;
}

.third .last{
    display: grid;
    justify-items: center;
}



.third .social{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px;
    align-content: center;
    justify-content: space-evenly;
}

.third .social i{
    background: #FF3271;
    color: white;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.third .social i:hover{
    transform: rotate(360deg);
    transition: .5s;
}
















